.generalContainer {
   position: relative;
   display: grid;
   grid-template: var(--fixHeightTopBar) 1fr / var(--fixWidthNav) 1fr;
   grid-template-areas: 
   "topbar topbar topbar"
   "navbar main main";
}

div.inactiveNavbar {
   animation: 0s linear .19s forwards changeGridTemplate ;
}

main {
   grid-area: main;
   width: 100%;
   height: calc(100vh - var(--fixHeightTopBar));
   padding: 20px;
   overflow: auto;
}


@media only screen and (max-width: 910px) {
   .generalContainer {
      grid-template: auto 1fr / 1fr;
      grid-template-areas: 
         "topbar"
         "main";
   }
   
   main {
      height: auto; 
   }

   div.inactiveNavbar {
      animation: none;
   }
}
