.selectContainer {
   width: 100%;
}

.selectContainer h4 {
   font-size: calc(15px * var(--font-size-scale, 1));
   font-weight: bold;
   margin-bottom: -5px;
   padding: 5px 10px;
   letter-spacing: 1px;
   color: white;
   background-color: var(--colorPrim);
   border-radius: 4px 4px 0 0;
   text-transform: uppercase;
}