button.btnTable {
   background: none;
   border: none;
   cursor: pointer;
   padding: calc(5px * var(--font-size-scale, 1)) calc(8px * var(--font-size-scale, 1));
   margin: 0 3px;
   font-family: var(--fontSec);
   font-size: calc(16px * var(--font-size-scale, 1));
   border-radius: var(--fixBorderRadius);
   transition: 0.2s ease;
}

button.btnPrim {
   background-color: var(--colorPrim);
   border: 1px solid var(--colorPrim);
}
button.btnPrim:hover {
   background-color: var(--colorPrimBright);
   color: var(--colorPrim);
}


button.btnConfirm {
   background-color: var(--colorGreen);
   border: 1px solid var(--colorGreen);
}
button.btnConfirm {
   background-color: transparent;
   color: var(--colorGreen);
}


button.btnEdit {
   background-color: var(--colorYellow);
}


button.restoreBtn {
   background-color: var(--colorYellow);
}


button.btnDelete {
   background-color: var(--colorRed);
   border: 1px solid var(--colorRed);
}
button.btnDelete:hover {
   color: var(--colorRed);
   background-color: white;
}


button.btnHeaderPrim {
   background-color: white;
   color: var(--colorPrim);
   border: 1px solid white;
}
button.btnHeaderPrim:hover {
   background-color: var(--colorPrim);
   color: white;
}


button.btnHeaderConfirm {
   background-color: var(--colorGreen);
   color: white;
   border: 1px solid var(--colorGreen);
}
button.btnHeaderConfirm:hover {
   background-color: white;
   color: var(--colorGreen);
}

button.btnHeaderEdit {
   background-color: var(--colorYellow);
   color: white;
   border: 1px solid var(--colorYellow);
}
button.btnHeaderEdit:hover {
   background-color: white;
   color: var(--colorYellow);
}

.customToolTips {
   font-family: var(--fontPrim) !important;
   letter-spacing: 1px;
   font-weight: bold !important;
}