button.btnTable {
   background: none;
   border: none;
   cursor: pointer;
   padding: 5px 8px;
   margin: 0 3px;
   font-family: var(--fontSec);
   font-size: 16px;
   border-radius: 4px;
   transition: opacity 0.2s;
}

button.btnEdit {
   background-color: var(--colorYellow);
}

button.btnDelete {
   background-color: var(--colorRed);
}


.customToolTips {
   font-family: var(--fontPrim) !important;
   letter-spacing: 1px;
   font-weight: bold !important;
}