/* HTML: <div class="loader"></div> */
.loader {
   width: 40px;
   aspect-ratio: 1;
   display: grid;
   margin: var(--marginContent);
   border: 4px solid #0000;
   border-radius: 50%;
   border-color: #ccc #0000;
   animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {
   content: "";
   grid-area: 1/1;
   margin: 2px;
   border: inherit;
   border-radius: 50%;
}
.loader::before {
   border-color: var(--colorPrim) #3c7aee00;
   animation: inherit;
   animation-duration: 0.5s;
   animation-direction: reverse;
}
.loader::after {
   margin: 8px;
}
@keyframes l16 {
   100% {
      transform: rotate(1turn);
   }
}
