header.topBarContainer {
   grid-area: topbar;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 25px;
   background-color: var(--colorRed);
   color: white;
}

header.topBarContainer .topBar__leftSide {
   display: flex;
   align-items: center;
   gap: 10px;
}

.topBar__leftSide h1 {
   font-size: calc(30px * var(--font-size-scale, 1));
   text-align: center;
}

.topBar__leftSide .topBar__logo {
   width: 60px;
   height: 60px;
}

.topBar__logo img {
   width: 100%;
}

.topBar__leftSide button.topBar__buttonMenu {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
   border: none;
   color: black;
   background-color: white;
   font-size: calc(30px * var(--font-size-scale, 1));
   border-radius: var(--fixBorderRadius);
   cursor: pointer;
   transition: .2s ease;
}

.topBar__leftSide button.topBar__buttonMenu:hover {
   background-color: var(--colorBlue);
   color: white;
}

.topBar__rightSide {
   display: flex;
   align-items: center;
   gap: 15px;
}


.topBar__rightSide .topBar__userInfo p {
   margin-top: 3px;
   font-size: calc(23px * var(--font-size-scale, 1));
}

.topBar__rightSide button.topBar__buttonLogout {
   display: flex;
   align-items: center;
   gap: 3px;
   padding: 5px 8px;
   background-color: transparent;
   color: white;
   font-family: var(--fontSec);
   font-size: calc(15px * var(--font-size-scale, 1));
   font-weight: 600;
   border: 1px solid transparent;
   border-radius: var(--fixBorderRadius);
   cursor: pointer;
   transition: .2s ease;
}

.topBar__rightSide button.topBar__buttonLogout:hover {
   background-color: var(--colorBlue);
   color: white;
}

button.topBar__buttonLogout .logoutIcon {
   font-size: calc(25px * var(--font-size-scale, 1));
}


/* @media only screen and (max-width: 991px) {

   header.topBarContainer {
      flex-direction: column; 
      gap: 15px;
      justify-content: center;
   }

   header.topBarContainer .topBar__leftSide {
      justify-content: center;
      width: 100%; 
   }

   .topBar__rightSide {
      justify-content: center;
      width: 100%; 
   }
} */

@media only screen and (max-width: 820px) {
   header.topBarContainer {
      flex-direction: column;
      justify-content: center;
      height: var(--fixHeightTopBarResponsive);
   }

   .topBar__leftSide h1 {
      font-size: calc(25px * var(--font-size-scale, 1));
      text-align: center;
   }

   .topBar__rightSide .topBar__userInfo p {
      font-size: calc(20px * var(--font-size-scale, 1));
   }  


   button.topBar__buttonLogout .logoutIcon {
      font-size: calc(20px * var(--font-size-scale, 1));
   }
}

@media only screen and (max-width: 420px) {
   header.topBarContainer {
      flex-direction: column;
      height: var(--fixHeightTopBarResponsiveXX-small);
   }

   .topBar__leftSide h1 {
      font-size: calc(20px * var(--font-size-scale, 1));
   }

   .topBar__leftSide button.topBar__buttonMenu {
      font-size: calc(30px * var(--font-size-scale, 1));
   }

   button.topBar__buttonLogout .logoutIcon {
      font-size: calc(16px * var(--font-size-scale, 1));
   }
}