.font-size-control {
  padding: 5px;  
  display: flex;
  flex-direction: row;
  gap: 8px; 
}

.font-size-control button {
  background: var(--colorPrim);
  color: white;
  border: 2px solid var(--colorPrim); 

  padding: 8px 10px;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  border-radius: var(--fixBorderRadius); 

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  transition: background-color 0.2s ease, color 0.2s ease; 
}

