.card {
  border: 1px solid #ddd;
  border-radius: var(--fixBorderRadius);
  padding: 20px 20px 25px;
  width: 270px;
  height: 330px;
  background-color: #fff;
  box-shadow: var(--shadowBox);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 250px;
  gap: 0;
}

.cardContent__imgContainer {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* NOVO ESTILO PARA A IMAGEM */
.imagemRemedio {
  width: 100%;
  margin: auto;
}

/* Não utilizado, por hora */
.cardContent__indicacao {
  height: 108px;
  margin-top: 10px;
  font-family: var(--fontSec);
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
}

.cardContent__indicacao h4 {
  text-align: center;
}

.cardContent__indicacao p {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.nome {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: .6px;
}

/* Os outros estilos permanecem iguais */
.remessasContainer {
  margin: 10px 0;
  font-family: var(--fontSec);
}

.remessasContent__textTitle {
  font-size: 14px;
  font-weight: 600;
}

.cardContent__botaoCollection {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cardContent__botaoCollection :is(button, a){
  background-color: transparent;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .6px;
  border-radius: 1px;
  cursor: pointer;
  transition: .2s ease;
}

.cardContent__botaoCollection button:active {
  transform: scale(0.98);
}

.botaoDetalhes {
  color: var(--colorBlue);
  border: 1px solid var(--colorBlue);
}

.botaoDetalhes:hover {
  background-color: var(--colorBlue);
  color: white;
} 

.botaoVisualizar {
  color: var(--colorGreen);
  border: 1px solid var(--colorGreen);
}

.botaoVisualizar:hover {
  background-color: var(--colorGreen);
  color: white;
}

