.iconEye {
   position: absolute;
   right: 20px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   color: #4162a6;
   font-size: 1.2em;
   z-index: 10;
}

.iconEye:hover {
   color: #33559c;
}