.cardShortCutCollection {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 25px;
   margin-top: 2em;
}

article.cardShortCutContainer {
   display: flex;
   flex-direction: column;
   width: 280px;
   padding: 15px 20px 10px;
   background-color: white;
   box-shadow: var(--shadowBox);
   transition: .2s ease;
}

article.cardShortCutContainer .cardShortCut__icon {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: calc(4rem * var(--font-size-scale, 1));
   color: rgb(129, 129, 129);
   transition: .1s ease;
}

article.cardShortCutContainer hr {
   border: 1px solid var(--colorInactive);
   margin: 10px -20px;
}

article.cardShortCutContainer a {
   text-align: center;
   font-size: calc(23px * var(--font-size-scale, 1));
   color: rgb(129, 129, 129);
   transition: .1s ease;
}

article.cardShortCutContainer:has(a:hover) :is(.cardShortCut__icon, a) {
   color: var(--colorPrim);
}