.fadeIn {
    animation: fadeIn .28s normal ease;
    
}

.fadeOut {
    animation: fadeOut .3s normal ease;
}

.fadeLeft {
    animation: fadeLeftAnim .35s normal ease;

}

.fadeRight {
    animation: fadeRightAnim .35s normal ease;

}

.fadeTransverse {
    animation: fadeTransverseAnim .3s normal ease;

}

.fadeOpacity {
    animation: fadeOpacity .4s normal ease;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(0, 25%);

    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 0;
        transform: translate(0, -25%);

    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeLeftAnim {
    from {
        opacity: 0;
        transform: translate(50%, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeRightAnim {
    from {
        opacity: 0;
        transform: translate(-50%, 0);

    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
    
}

@keyframes fadeTransverseAnim {
    from {
        opacity: 0;
        transform: translate(25%, 25%);

    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}