h1.mainTitle {
   font-size: var(--fontTitleSize);
   text-align: center;
   margin: var(--fontMargin);
}

h2.subTitle {
   width: fit-content;
   margin-top: 1.3em;
   padding: 5px 30px;
   background-color: var(--colorPrim);
   color: white;
   letter-spacing: 0.8px;
}

.textInfoNotAvaliable {
   font-family: var(--fontSec);
   font-size: 16px;
   margin: var(--marginContent);
}

.layoutFlexCollectionCard {
   display: flex;
   flex-wrap: wrap;
   gap: calc(var(--marginContent) * 2);
   margin: var(--marginContent);

}

span.errorMessage {
   font-size: 14px;
   font-weight: 500;
   color: var(--colorRed);
   user-select: none;
}

.layoutFormContentSpacing {
   display: grid;
   gap: 20px;
}

.inputCollection__dual {
   display: flex;
   gap: 15px;
}

/* Botões customizados */
.buttonForm-style1 {
   margin: auto;
   padding: 10px 15px;
   margin-bottom: 10px;
   font-family: var(--fontSec);
   font-size: 1em;
   background-color: var(--colorPrim);
   border: 1px solid var(--colorPrim);
   transition: 0.2s ease;
}

.buttonForm-style1:hover {
   background-color: var(--colorAux);
   color: var(--colorPrim);
}

.buttonForm-style1__inactive {
   pointer-events: none !important;
   user-select: none !important;
   background-color: var(--colorInactive) !important;
   border-color: var(--colorInactive) !important;
}

.buttonForm-style2 {
   margin: auto;
   padding: 10px 15px;
   margin-bottom: 10px;
   font-size: 1em;
   color: var(--colorPrim);
   background-color: transparent;
   border: 1px solid var(--colorPrim);
   transition: 0.2s ease;
}

.buttonForm-style2:hover {
   background-color: var(--colorPrimBright);
   color: var(--colorPrim);
   border-color: var(--colorPrimBright);
}
