body {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}

.filterbar-container {
    display: flex;
    align-items: center;
    width: 600px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: none;
    height: 40px;
}

.search-icon {
    padding: 0 10px;
    color: #888;
    font-size: 14px;
}

#searchInput {
    flex-grow: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-size: 16px;
}

.filter-button {
    background-color: #4162A6;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0 20px;
    height: 42px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    border-left: 1px solid #33559C;
}

.filter-button:hover {
    background-color: #33559C;
}