.infoCard {
  border: 1px solid #ddd;
  background-color: #FFFFFF;
  border-radius: 2px;
  padding: 20px;
  text-align: center;
  width: 280px;
  margin: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 250px;
  max-width: 300px;
}

.infoCard h4 {
  margin: 0;
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.infoCard p {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
}