.inputContainer {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.inputLabel {
   font-size: 15px;
   font-weight: bold;
   padding: 5px 10px;
   letter-spacing: 1px;
   color: white;
   background-color: var(--colorPrim);
   border-radius: 4px 4px 0 0;
   text-transform: uppercase;
}

.inputField {
   padding: 8px 10px;
   font-family: var(--fontSec);
   font-size: 16px;
   border: 2px solid var(--colorPrim);
   border-top: none;
   border-radius: 0 0 4px 4px;
   box-sizing: border-box;
   width: 100%;
   outline: none;
   transition: border-color 0.3s;
}

.inputContainer .inputField:disabled {
   background-color: var(--colorPrimBright);
   border-color: var(--colorPrim);
   cursor: not-allowed;
   color: var(--colorInactive);
}

.inputContainer.error .inputLabel {
   background-color: var(--colorRed);
}

.inputContainer.error .inputField {
   border-color: var(--colorRed);
}

.errorMessage {
   font-size: 12px;
   color: var(--colorRed);
   margin-top: 4px;
   padding-left: 5px;
}

.componentTitle {
   text-align: center;
   margin-top: 30px;
}
