.container {
   width: 420px;
   padding: 30px 40px;
   background-color: #f6f6f6;
   border: 2px solid #4162a6;
   border-radius: 10px;
   color: #4162a6;
   box-shadow: 0 0 10px #c2d4fa;
}

.container h1 {
   text-align: center;
   margin-bottom: 30px;
   font-size: 40px;
   font-size: 40px;
   color: #4162a6;
}

p.exceptionMessageAuth {
   text-align: center;
   font-family: var(--fontSec);
   font-size: 14px;
   color: rgb(75, 75, 75);
   font-weight: 500;
   margin: -25px 0 -10px;
}

p.exceptionMessageAuth span {
   display: block;
   color: var(--colorRed);
   font-size: 15px;
   font-weight: 600;
}

.inputBox {
   position: relative;
   width: 100%;
   height: 50px;
   margin: 30px 0;
   font-family: Poppins, sans-serif;
}

.inputBox input {
   width: 100%;
   height: 100%;
   padding: 20px 45px 20px 20px;
   font-size: 17px;
   border: 2px solid #4162a6;
   background: #f6f6f6;
   outline: none;
   border-radius: 40px;
   font-family: Poppins, sans-serif;
}

.inputBox input::placeholder {
   color: #4162a6;
}

/* Error */
.inputError {
   margin-bottom: 40px;
}

.inputError input {
   border-color: var(--colorRed);
   color: var(--colorRed);
}

.inputError input::placeholder {
   color: var(--colorRed);
}

button.login {
   width: 100%;
   height: 50px;
   border: none;
   background: #4162a6;
   color: #f6f6f6;
   font-family: var(--fontSec);
   font-size: 18px;
   font-weight: 500;
   border-radius: 40px;
   cursor: pointer;
   box-shadow: 0 0 10px #c2d4fa;
   transition: .2s;
}

button.login:hover {
   background: #33559c;
}

.errorMessage {
   color: #f22738;
   font-size: 14px;
   margin: 0 10px;
}


